<!--
翻牌抽奖
作者:迷失卍国度
qq:15595755
-->
<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<a class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">抽奖系统</h4>
	<table>
		<tbody>
            <tr>
                <th>标题</th>
                <td>
                    <input type="text" value="{$reply['title']}" class="span7" name="title">
                </td>
            </tr>
			<tr>
				<th>封面图片</th>
				<td>
                    <div id="" class="uneditable-input reply-edit-cover">
                        <div class="detail">
                            <span class="pull-right">大图片建议尺寸：700像素 * 300像素</span>
                            <input type="button" id="picture" fieldname="picture{$namesuffix}" class="btn btn-mini reply-edit-cover-upload" value="<i class='icon-upload-alt'></i> 上传" style="" />
                            <button type="button" class="btn btn-mini reply-news-edit-cover-remove" id="upload-delete" onclick="doDeleteItemImage(this, 'picture-value')" style="{if empty($reply['picture'])} display:none;{/if}"><i class="icon-remove"></i> 删除</button>
                        </div>
                        {if !empty($reply['picture'])}
                        <input type="hidden" name="picture-old" value="{$reply['picture']}">
                        <div id="upload-file-view" class="upload-view">
                            <input type="hidden" id="egg-picture-value" value="{$reply[picture]}">
                            <img width="100" src="{$_W['attachurl']}{$reply['picture']}">
                        </div>
                        {else}
                        <div id="upload-file-view"></div>
                        {/if}
                    </div>
                    <div class="help-block">用于图文显示的图片</div>
				</td>
			</tr>
			<tr>
				<th>活动简介</th>
				<td>
					<textarea style="height:150px;" name="description" class="span7" cols="60">{$reply['description']}</textarea>
					<div class="help-block">用于图文显示的简介</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
kindeditor($('#rule'));
kindeditorUploadBtn($('#picture'));
</script>